<% if(typeof messages != 'undefined') {%>
    <% messages.forEach(function(message){ %>
        <div class="alert">
            <%= message.msg %>
        </div>
       <% }); %> 

     

  <%  } %>      