<!DOCTYPE html>
<html lang="en">

<%- include("./partials/header") %>

<body>
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">
      <!-- <h1 class="logo me-auto"><a href="index.html"></a></h1> -->
      <!-- Uncomment below if you prefer to use an image logo -->
      <a href="/" class="logo me-auto"><img src="assets/img/logo_white.png" alt="" class="img-fluid" /></a>

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a class="active" href="/courses">Courses</a></li>
          <li><a href="/pricing">Pricing</a></li>
          <% if(login && login===true){ %>
            <li class="dropdown"><a href="/profile" class="profile-btn"><i class="bx bx-user"></i>
                <span>Profile</span><i class="bi bi-chevron-down"></i></a>
              <ul>
                <li style="color:black;"><a href="/profile">My Profile</a></li>
                <li><a href="/contact">Help</a></li>
                <li><a href="/logout">Logout</a></li>
              </ul>
            </li>
            <% } else { %>
              <li><a href="/signup">Get Started</a></li>
            <% } %>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>
      <!-- .navbar -->
    </div>
  </header>
  <!-- End Header -->


  <!-- ======= Breadcrumbs ======= -->
  <div class="breadcrumbs about-mbl-view" data-aos="fade-in" >
    <div class="container" style="padding: 30px;">
      <!-- <h2><%# course.title -%></h2> -->
      <p>
      <!-- <%# course.description -%> -->
      </p>
      <div class="sidebar-render">
        <div class="purchase-render">
          <div class="purchase-render-item">
            <div class='buy-box-main'>
              <div class="buy-box">
                <div class="buy-box-item price">
                  <div class="price-text">
                    <!-- <h2>₹<%# course.cost -%></h2> -->
                    <div style="font-size: 1.6rem; line-height: 1; padding: .4rem; margin-right: .8rem;
                              white-space: nowrap; box-sizing: border-box; color: #73726c;">90% off</div>
                  </div>
                </div>
                <div class="buy-box-item add-to-cart-button">
                  <button>Add To Cart</button>
                </div>
              </div>
            </div>
            <div class='cta'>
              <ul>
                <div>
                  <h6>Available Seats
                    <span>20</span>
                  </h6>
                </div>
                <div>
                  <h6>Schedule
                    <span>5 PM - 7 PM</span>
                  </h6>
                </div>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Breadcrumbs -->
  <div class="wrapper">
    <main id="main">
      <!-- ======= Cource Details Section ======= -->
      <section id="course-details" class="course-details">
        <div class="container" data-aos="fade-up" style="padding: 1.6rem 2.4rem;">
          <div class="row">
            <div class="background-img">
              <img
                src="https://images.unsplash.com/photo-1498050108023-c5249f4df085?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1052&q=80"
                class="img-fluid" alt="" />
              <div class="details-below-course">
                <h3>Et enim incidunt fuga tempora</h3>
                <p>
                  Qui et explicabo voluptatem et ab qui vero et voluptas. Sint
                  voluptates temporibus quam autem. Atque nostrum voluptatum
                  laudantium a doloremque enim et ut dicta. Nostrum ducimus est
                  iure minima totam doloribus nisi ullam deserunt. Corporis aut
                  officiis sit nihil est. Labore aut sapiente aperiam. Qui
                  voluptas qui vero ipsum ea voluptatem. Omnis et est.
                  Voluptatem officia voluptatem adipisci et iusto provident
                  doloremque consequatur. Quia et porro est. Et qui corrupti
                  laudantium ipsa. Eum quasi saepe aperiam qui delectus quaerat
                  in. Vitae mollitia ipsa quam. Ipsa aut qui numquam eum iste
                  est dolorum. Rem voluptas ut sit ut.
                </p>
              </div>
            </div>

          </div>
        </div>
      </section>
      <!-- End Cource Details Section -->

      <!-- ======= Cource Details Tabs Section ======= -->
      <section id="cource-details-tabs" class="cource-details-tabs">
        <div class="container" data-aos="fade-up">
          <div class="row" data-aos="zoom-in" data-aos-delay="100">
            <h3 style="padding-left: 30px;">Course Details</h3>
            <div class="col-lg-3">
              <ul class="nav nav-tabs flex-column">
                <li class="nav-item">
                  <a class="nav-link active show" data-toggle="tab" href="#tab-1">Track 1</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#tab-2">Track 2</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#tab-3">Track 3</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#tab-4">Track 4</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#tab-5">Track 5</a>
                </li>
              </ul>
            </div>
            <div class="col-lg-9 mt-4 mt-lg-0">
              <div class="tab-content">
                <div class="tab-pane active show" id="tab-1">
                  <div class="row">
                    <div class="col-lg-8 details order-2 order-lg-1">
                      <h3>Track 1</h3>
                      <p class="fst-italic">
                        Qui laudantium consequatur laborum sit qui ad sapiente
                        dila parde sonata raqer a videna mareta paulona marka
                      </p>
                      <p>
                        Et nobis maiores eius. Voluptatibus ut enim blanditiis
                        atque harum sint. Laborum eos ipsum ipsa odit magni.
                        Incidunt hic ut molestiae aut qui. Est repellat minima
                        eveniet eius et quis magni nihil. Consequatur dolorem
                        quaerat quos qui similique accusamus nostrum rem vero
                      </p>
                    </div>
                    <div class="col-lg-4 text-center order-1 order-lg-2">
                      <img src="assets/img/course-details-tab-1.png" alt="" class="img-fluid" />
                    </div>
                  </div>
                </div>
                <div class="tab-pane" id="tab-2">
                  <div class="row">
                    <div class="col-lg-8 details order-2 order-lg-1">
                      <h3>Track 2</h3>
                      <p class="fst-italic">
                        Qui laudantium consequatur laborum sit qui ad sapiente
                        dila parde sonata raqer a videna mareta paulona marka
                      </p>
                      <p>
                        Ea ipsum voluptatem consequatur quis est. Illum error
                        ullam omnis quia et reiciendis sunt sunt est. Non
                        aliquid repellendus itaque accusamus eius et velit ipsa
                        voluptates. Optio nesciunt eaque beatae accusamus lerode
                        pakto madirna desera vafle de nideran pal
                      </p>
                    </div>
                    <div class="col-lg-4 text-center order-1 order-lg-2">
                      <img src="assets/img/course-details-tab-2.png" alt="" class="img-fluid" />
                    </div>
                  </div>
                </div>
                <div class="tab-pane" id="tab-3">
                  <div class="row">
                    <div class="col-lg-8 details order-2 order-lg-1">
                      <h3>Track 3</h3>
                      <p class="fst-italic">
                        Eos voluptatibus quo. Odio similique illum id quidem non
                        enim fuga. Qui natus non sunt dicta dolor et. In
                        asperiores velit quaerat perferendis aut
                      </p>
                      <p>
                        Iure officiis odit rerum. Harum sequi eum illum corrupti
                        culpa veritatis quisquam. Neque necessitatibus illo
                        rerum eum ut. Commodi ipsam minima molestiae sed
                        laboriosam a iste odio. Earum odit nesciunt fugiat sit
                        ullam. Soluta et harum voluptatem optio quae
                      </p>
                    </div>
                    <div class="col-lg-4 text-center order-1 order-lg-2">
                      <img src="assets/img/course-details-tab-3.png" alt="" class="img-fluid" />
                    </div>
                  </div>
                </div>
                <div class="tab-pane" id="tab-4">
                  <div class="row">
                    <div class="col-lg-8 details order-2 order-lg-1">
                      <h3>Track 4</h3>
                      <p class="fst-italic">
                        Totam aperiam accusamus. Repellat consequuntur iure
                        voluptas iure porro quis delectus
                      </p>
                      <p>
                        Eaque consequuntur consequuntur libero expedita in
                        voluptas. Nostrum ipsam necessitatibus aliquam fugiat
                        debitis quis velit. Eum ex maxime error in consequatur
                        corporis atque. Eligendi asperiores sed qui veritatis
                        aperiam quia a laborum inventore
                      </p>
                    </div>
                    <div class="col-lg-4 text-center order-1 order-lg-2">
                      <img src="assets/img/course-details-tab-4.png" alt="" class="img-fluid" />
                    </div>
                  </div>
                </div>
                <div class="tab-pane" id="tab-5">
                  <div class="row">
                    <div class="col-lg-8 details order-2 order-lg-1">
                      <h3>Track 5</h3>
                      <p class="fst-italic">
                        Omnis blanditiis saepe eos autem qui sunt debitis porro
                        quia.
                      </p>
                      <p>
                        Exercitationem nostrum omnis. Ut reiciendis repudiandae
                        minus. Omnis recusandae ut non quam ut quod eius qui.
                        Ipsum quia odit vero atque qui quibusdam amet. Occaecati
                        sed est sint aut vitae molestiae voluptate vel
                      </p>
                    </div>
                    <div class="col-lg-4 text-center order-1 order-lg-2">
                      <img src="assets/img/course-details-tab-5.png" alt="" class="img-fluid" />
                    </div>
                  </div>
                </div>
              </div>
            </div>


          </div>
      </section>
      <!-- End Cource Details Tabs Section -->

      <!-- ======= Who Should Take This Course Section ======= -->
      <section id="customers" class="customers">
        <div class="container" data-aos="fade-up">
          <div class="row" data-aos="zoom-in" data-aos-delay="100">
            <h3>Who Should Take This Course?</h3>
            <div class="member">
              <div class="customer-info align-items-center">
                <i class="bx bx-check-double bx-lg"></i>
                STUDENTS
                <p>
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry. Lorem Ipsum has been the industry's
                  standard dummy text ever since the 1500s. It has survived not
                  only five centuries, but also the leap into electronic
                  typesetting, remaining essentially unchanged.
                </p>
              </div>
              <div class="customer-info align-items-center">
                <i class="bx bx-check-double bx-lg"></i>
                STUDENTS
                <p>
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry. Lorem Ipsum has been the industry's
                  standard dummy text ever since the 1500s. It has survived not
                  only five centuries, but also the leap into electronic
                  typesetting, remaining essentially unchanged.
                </p>
              </div>
              <div class="customer-info align-items-center">
                <i class="bx bx-check-double bx-lg"></i>
                STUDENTS
                <p>
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry. Lorem Ipsum has been the industry's
                  standard dummy text ever since the 1500s. It has survived not
                  only five centuries, but also the leap into electronic
                  typesetting, remaining essentially unchanged.
                </p>
              </div>
              <div class="customer-info align-items-center">
                <i class="bx bx-check-double bx-lg"></i>
                STUDENTS
                <p>
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry. Lorem Ipsum has been the industry's
                  standard dummy text ever since the 1500s. It has survived not
                  only five centuries, but also the leap into electronic
                  typesetting, remaining essentially unchanged.
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- ======= End of Who Should Take This Course Section ======= -->

      <!-- ======= Trainers Section ======= -->
      <section id="trainers" class="trainers">
        <div class="container" data-aos="fade-up">
          <div class="row instructors" data-aos="zoom-in" data-aos-delay="100" style="padding: 1.6rem 2.4rem;">
            <h3>Instructors</h3>
            <div class="col-lg-6 col-md-10 d-flex align-items-stretch">
              <div class="member instructors-member">
                <img src="assets/img/trainers/trainer-1.jpg" class="img-fluid" alt="" />
                <div class="member-content">
                  <h4>Walter White</h4>
                  <span>Web Development</span>
                  <p style="background-color: #b4b4b4; color: black;">
                    Magni qui quod omnis unde et eos fuga et exercitationem.
                    Odio veritatis perspiciatis quaerat qui aut aut aut
                  </p>
                  <div class="social">
                    <a href=""><i class="bi bi-facebook"></i></a>
                    <a href=""><i class="bi bi-instagram"></i></a>
                    <a href=""><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Trainers Section -->
      <!-- ======= Perks Section ======= -->
      <section id="perks" class="perks">
        <div class="container" data-aos="fade-up">
          <div class="row" data-aos="zoom-in" data-aos-delay="100">
            <h3>
              Perks & Achievements on Course Completion
            </h3>
            <div class="box col-lg-4 col-md-6 col-sm-12 d-flex align-items-stretch">
              <div style="
                  background-color: rgb(94, 159, 94);
                  color: aliceblue;
                  text-align: center;
                  padding: 30px;
                " class="member-content">
                <h4>Shareable Certificate</h4>
                <p>
                  Magni qui quod omnis unde et eos fuga et exercitationem. Odio
                  veritatis perspiciatis quaerat qui aut aut aut
                </p>
              </div>
            </div>
            <div class="box col-lg-4 col-md-6 col-sm-12 d-flex align-items-stretch">
              <div style="
                  background-color: rgb(94, 159, 94);
                  color: aliceblue;
                  text-align: center;
                  padding: 30px;
                " class="member-content">
                <h4>Skill Badges</h4>
                <p>
                  Magni qui quod omnis unde et eos fuga et exercitationem. Odio
                  veritatis perspiciatis quaerat qui aut aut aut
                </p>
              </div>
            </div>
            <div class="box col-lg-4 col-md-6 col-sm-12 d-flex align-items-stretch">
              <div style="
                  background-color: rgb(94, 159, 94);
                  color: aliceblue;
                  text-align: center;
                  padding: 30px;
                " class="member-content">
                <h4>Achievements</h4>
                <p>
                  Magni qui quod omnis unde et eos fuga et exercitationem. Odio
                  veritatis perspiciatis quaerat qui aut aut aut
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Perks Section -->

      <!-- Rating & Reviews Section -->
      <section id="reviews" class="reviews">
        <div class="container" data-aos="fade-up">
          <div class="row" data-aos="zoom-in" data-aos-delay="100" style="padding: 1.6rem 2.4rem;">
            <h3>Reviews</h3>
            <ul class="list-group">
              <li class="list-group-item"><strong>User Name </strong><span><i class="bx bx-star"></i></span><span><i
                    class="bx bx-star"></i></span><span><i class="bx bx-star"></i></span><span><i
                    class="bx bx-star"></i></span><span><i class="bx bx-star"></i></span>
                <p>12-12-2020</p>
                <p>Awesome Course! Loved it.</p>
              </li>
              <li class="list-group-item"><strong>User Name </strong><span><i class="bx bx-star"></i></span><span><i
                    class="bx bx-star"></i></span><span><i class="bx bx-star"></i></span><span><i
                    class="bx bx-star"></i></span><span><i class="bx bx-star"></i></span>
                <p>12-12-2020</p>
                <p>Awesome Course! Loved it.</p>
              </li>
              <li class="list-group-item"><strong>User Name </strong><span><i class="bx bx-star"></i></span><span><i
                    class="bx bx-star"></i></span><span><i class="bx bx-star"></i></span><span><i
                    class="bx bx-star"></i></span><span><i class="bx bx-star"></i></span>
                <p>12-12-2020</p>
                <p>Awesome Course! Loved it.</p>
              </li>
            </ul>
            <h3>Write a User Review</h3>
            <form id="feedback" action="">

              <div class="pinfo">Rate the course.</div>


              <div class="form-group">
                <div class="col-md-4 inputGroupContainer">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-heart"></i></span>
                    <select class="form-control" id="rate">
                      <option value="1star">1</option>
                      <option value="2stars">2</option>
                      <option value="3stars">3</option>
                      <option value="4stars">4</option>
                      <option value="5stars">5</option>
                    </select>
                  </div>
                </div>
              </div>

              <div class="pinfo">Write your feedback.</div>


              <div class="form-group">
                <div class="col-md-4 inputGroupContainer">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-pencil"></i></span>
                    <textarea class="form-control" id="review" rows="3"></textarea>

                  </div>
                </div>
              </div>

              <button type="submit" class="btn btn-primary">Submit</button>


            </form>
          </div>
        </div>
      </section>
      <!-- End Rating & Reviews Section -->
    </main>
    <!-- End #main -->

    <!-- Sidebar-Container Section -->
    <section id="sidebar-container" class="sidebar-container">
      <div class="container" data-aos="fade-up">
        <div class="row" data-aos="zoom-in" data-aos-delay="100">
          <div class="sidebar-container-content card">
            <div class="sidebar-container-content-group">
              <div class="sidebar-container-purchase-section">
                <div class="generic-purchase-section">
                  <div class="buy-box-main">
                    <div class="buy-box">
                      <div class="buy-box-item price">
                        <div class="price-text">
                          <!-- <h2>₹<%# course.cost -%></h2> -->
                          <div
                            style="font-size: 1rem; line-height: 1; padding: .4rem; margin-right: .8rem;
                                              white-space: nowrap; box-sizing: border-box; color: #73726c;text-decoration: line-through;">
                            ₹4900</div>
                          <div style="font-size: 1rem; line-height: 1; padding: .4rem; margin-right: .8rem;
                                              white-space: nowrap; box-sizing: border-box; color: #73726c;">90% off
                          </div>
                        </div>
                      </div>
                      <div class="buy-box-item add-to-cart-button">
                        <button>Buy Now</button>
                      </div>
                    </div>
                  </div>
                  <div class='cta'>
                    <h4>This Course Includes:</h4>
                    <ul>
                      <li><i class="bx bx-user"></i> &nbsp;48 hours on-demand video</li>
                      <li><i class="bx bx-user"></i>&nbsp;18 articles</li>
                      <li><i class="bx bx-user"></i>&nbsp;10 downloadable resources</li>
                      <li><i class="bx bx-user"></i>&nbsp;Full lifetime access</li>
                      <li><i class="bx bx-user"></i>&nbsp;Access on mobile and TV</li>
                      <li><i class="bx bx-user"></i>&nbsp;Certificate of completion</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class='sidebar-container-content-group'>
              <div class="generic-purchase-section">
                <!--  <div class='buy-box-main'>
                  <div class="buy-box"> -->
                <div class="buy-box-main add-to-cart-button">
                  <button>Add To Cart</button>
                </div>
                <!--     </div>
                </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- End Sidebar-Container Section -->
  </div>
  <!-- End Wrapper Section -->

  <!-- ======= Footer ======= -->
  <%- include("./partials/footer") %>
  <!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/purecounter/purecounter.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>
</body>

</html>