<!DOCTYPE html>
<html lang="en">
<%- include("./partials/header") %>

<body>
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top">
        <div class="container d-flex align-items-center">
            <!-- <h1 class="logo me-auto"><a href="index.html"></a></h1> -->
            <!-- Uncomment below if you prefer to use an image logo -->
            <a href="/" class="logo me-auto"><img src="assets/img/logo_white.png" alt="" class="img-fluid" /></a>

            <nav id="navbar" class="navbar order-last order-lg-0">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a class="active" href="/courses">Courses</a></li>
                    <li><a href="/pricing">Pricing</a></li>
                    <li class="dropdown"><a href="/profile" class="profile-btn"><i class="bx bx-user"></i>
                            <span>Profile</span><i class="bi bi-chevron-down"></i></a>
                        <ul>
                            <li><a href="/profile">My Profile</a></li>
                            <li><a href="/profile#courses-taken">My Courses</a></li>
                            <li><a href="/contact">Help</a></li>
                            <li><a href="/logout">Logout</a></li>
                        </ul>
                    </li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav>
            <!-- .navbar -->
        </div>
    </header>
    <!-- End Header -->
    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs about-mbl-view" data-aos="fade-in" style="background-color: #b4b4b4; color: black;">
        <div class="container" style="padding: 30px;">
            <h2>About This Course</h2>
            <p>
                Est dolorum ut non facere possimus quibusdam eligendi voluptatem.
                Quia id aut similique quia voluptas sit quaerat debitis. Rerum omnis
                ipsam aperiam consequatur laboriosam nemo harum praesentium.
            </p>
            <div class="sidebar-render">
                <div class="purchase-render">
                    <div class="purchase-render-item">
                        <div class='buy-box-main'>
                            <div class="buy-box">
                                <div class="buy-box-item price">
                                    <div class="price-text">
                                        <h2>₹490</h2>
                                        <div style="font-size: 1.6rem; line-height: 1; padding: .4rem; margin-right: .8rem;
                                  white-space: nowrap; box-sizing: border-box; color: #73726c;">90% off</div>
                                    </div>
                                </div>
                                <div class="buy-box-item add-to-cart-button">
                                    <button>Add To Cart</button>
                                </div>
                            </div>
                        </div>
                        <div class='cta'>
                            <ul>
                                <div>
                                    <h6>Available Seats
                                        <span>20</span>
                                    </h6>
                                </div>
                                <div>
                                    <h6>Schedule
                                        <span>5 PM - 7 PM</span>
                                    </h6>
                                </div>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumbs -->
    <div class="wrapper">
        <main id="main">
            <!-- ======= Course Details Section ======= -->
            <section id="course-details" class="course-details">
                <div class="container" data-aos="fade-up" style="padding: 1.6rem 2.4rem;">
                    <div class="row">
                        <div class="background-img">
                            <video src="/video/sample">

                            </video>
                            <iframe width="80%" height="400px" src="https://www.youtube.com/embed/LXb3EKWsInQ" title="YouTube video player"
                                frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                        
                        </div>
    
                    </div>
                </div>
            </section>
            <!-- End Course Details Section -->
    
            
    
     
                   </main>
        <!-- End #main -->
    
        
        <section id="sidebar-container" class="sidebar-container">
            <div class="container" data-aos="fade-up">
                <div class="row" data-aos="zoom-in" data-aos-delay="100">
<iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PL_T9MO520krq5QsT1sIHdmBUNodksi8v2"
    title="YouTube video player" frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen></iframe>

                 <!--  <div class="sidebar-container-content card">
                        <div class="sidebar-container-content-group">
                            <div class="sidebar-container-purchase-section">
                                <div class="generic-purchase-section">
                                    <div class="buy-box-main">
                                        <div class="buy-box">
                                            <div class="buy-box-item price">
                                                <div class="price-text">
                                                    <h2>₹490</h2>
                                                    <div
                                                        style="font-size: 1rem; line-height: 1; padding: .4rem; margin-right: .8rem;
                                                  white-space: nowrap; box-sizing: border-box; color: #73726c;text-decoration: line-through;">
                                                        ₹4900</div>
                                                    <div style="font-size: 1rem; line-height: 1; padding: .4rem; margin-right: .8rem;
                                                  white-space: nowrap; box-sizing: border-box; color: #73726c;">90% off
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="buy-box-item add-to-cart-button">
                                                <button>Buy Now</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class='cta'>
                                        <h4>This Course Includes:</h4>
                                        <ul>
                                            <li><i class="bx bx-user"></i> &nbsp;48 hours on-demand video</li>
                                            <li><i class="bx bx-user"></i>&nbsp;18 articles</li>
                                            <li><i class="bx bx-user"></i>&nbsp;10 downloadable resources</li>
                                            <li><i class="bx bx-user"></i>&nbsp;Full lifetime access</li>
                                            <li><i class="bx bx-user"></i>&nbsp;Access on mobile and TV</li>
                                            <li><i class="bx bx-user"></i>&nbsp;Certificate of completion</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class='sidebar-container-content-group'>
                            <div class="generic-purchase-section">
                                 <div class='buy-box-main'>
                      <div class="buy-box"> 
                                <div class="buy-box-main add-to-cart-button">
                                    <button>Add To Cart</button>
                                </div>
                                    </div>
                    </div> 
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </section>
    
        <!-- End Sidebar-Container Section -->
    </div>
    <!-- End Wrapper Section -->



   
                                   

    <!-- ======= Footer ======= -->
    <%- include("./partials/footer") %>
        <!-- End Footer -->

        <div id="preloader"></div>
        <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
                class="bi bi-arrow-up-short"></i></a>

        <!-- Vendor JS Files -->
        <script src="assets/vendor/aos/aos.js"></script>
        <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="assets/vendor/php-email-form/validate.js"></script>
        <script src="assets/vendor/purecounter/purecounter.js"></script>
        <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>

        <!-- Template Main JS File -->
        <script src="assets/js/main.js"></script>
</body>

</html>