<html>
    <head>
        <link rel="stylesheet" href="/css/footer.css">
    </head>
<body>
<div class="footer">
    <div class="footer-content">
    <div class="footer-section about">
    <h1 clas="logo-text">
        <span>Crash</span>Course</h1>
        <p>
        Lorem ipsum dolor sit amet, consec tetur adipisicing elit, sed do eiusmod tempor incididuntut consec tetur adipisicing
        elit,Lorem ipsum dolor sit amet.
        </p>
        <div class="contact">
            <span><i class="fas fa-phone"></i> &nbsp; 9498 234</span>
            <span><i class="fas fa-envelope"></i> &nbsp; contact@crashcourse.com</span>
        </div>
        <div class="socials">
            <a href="#">fb</a>
            <a href="#">G</a>
            <a href="#">github</a>
        </div>
    </div>
    <div class="footer-section links">
        <h2>Useful Links</h2>
        <br>
        <ul>
           <a href="#">
               <li>Home</li>
            </a> 
        <a href="#">
            <li>Services</li>
        </a>
        <a href="#">
            <li>Courses</li>
        </a>
        <a href="#">
            <li>About Us</li>
        </a>
        <a href="#">
            <li>Contact Us</li>
        </a>
        </ul>
    </div>
    <div class="footer-section subscribe">
        <h2>Subscribe</h2>
        <p>Don’t miss to subscribe to our new feeds, kindly fill the form below.</p>
        <br>
        <form method="post">
            <input type="email" name="email" placeholder="email">
            
        </form>
    </div>
    </div>
    <div class="footer-bottom">
        &copy; CrashCourse.com
    </div>

</div>
</body>
</html>