<html>

<head>
	<base href="/">
	
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
	<link rel="stylesheet" href="/css/signup.css" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
<div id="overlay"></div>
	<div class="form-container">
		<div class="formWrapper">
			<div class="welcomeDiv">
				<h2>Forgot Password</h2>
				<p class="text">
					Please confirm your email address to continue</p>
	
			</div>
			<div class="formDiv">
				<div class="modal-header">
					<div class="title">
						<a href="/"><img src="/assets/img/logo-2.png" style="max-width:50px;max-height:50px;"></a>
					</div>

				</div>
				<h2>Please enter your email address</h2>
	
			<p class="text">Enter the email address associated with this account to get a reset password link on your email</p> 
			<div class="alert-container">
				<%- include("./partials/alertMessage") %>
			</div>
			
				<form method="POST" action="/forgot">
	
					<div class="formGroup">
						<input type="text" name="email" id="email" placeholder="Email Address" value="<%= typeof email != 'undefined' ? email : '' %>">
					</div>
					<button class="btnn">Confirm</button>
				</form>
	
	
				<!--              <div class="orDiv">or</div>
	                <center>continue with these social profiles</center>
	                <div class="or"></div>
	                <div class="socialBtn">
	                    <div class="google icon"><i class="fab fa-google"></i></div>
	                    <div class="fb icon"><i class="fab fa-facebook-f"></i></div>
	                    <div class="twitter icon"><i class="fab fa-twitter"></i></div>
	                    <div class="github icon"><i class="fab fa-github"></i></div>
	                </div>
	
	            
	                <div class="orDiv">&nbsp; or</div>
	                <div class="or"></div>
	                <button class="btn">Continue with &nbsp;<i class="fab fa-google"></i></button>
	-->
			</div>
		</div>
	</div>
	<script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	</script>
</body>

</html>