<html>

<head>
    <link rel="stylesheet" href="/css/signup.css" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
    <script defer src="/js/modal_script.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <button data-modal-target="#modal">Open Modal</button>
    <div id="overlay">

    </div>
    <div class="modal" id="modal">

        <div class="formWrapper">
            <div class="welcomeDiv">
                <h2>Sign Up</h2>
                <p class="text">Learn to code.</p>
                <p class="text">Interactively.</p>
                <p class="text">
                    Explore your creativity with thousands of inspiring classes in design, illustration,
                    photography,
                    and more.</p>
                <button class="demo">Watch demo</button>
            </div>
            <div class="formDiv">
                <div class="modal-header">
                    <div class="title">
                        <img src="/assets/img/logo-2.png" style="max-width:30px;max-height:30px;">
                    </div>
                    <button data-close-button class="close-button">&times;</button>
                </div>
                <h2>Join over 25 million learners from around the globe</h2>

                <p class="text">Register with email address</p>
                <form method="POST" action="/register">
                    <div class="formGroup">
                        <input type="text" name="email" id="email" placeholder="Email">
                    </div>
                    <div class="formGroup">
                        <input type="text" name="username" id="username" placeholder="Username">
                    </div>

                    <div class="formGroup">
                        <input type="text" name="password" id="password" placeholder="Password">
                    </div>
                    <button class="btn">Sign Up</button>
                </form>


            <!--  <hr>
                
                <div class="orDiv">&nbsp; or</div>
                <div class="or"></div>
                <button class="btn">Continue with &nbsp;<i class="fab fa-google"></i></button>
            -->
                <h4>Already a member?
                    <a href="/login">Login</a>
                </h4>
                <hr>
                <div class="terms">
                    <span>By signing up you agree to CrashCourse's <a href="#">Terms of Service</a>.</span>
                </div>
            </div>
        </div>
    </div>
</body>

</html>